* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.create, .delete {
    display: flex;
    width: fit-content;
    gap: 1rem;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

